@model List<ResultExperianceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="card-header border-0">
    <h3 class="mb-0">Deneyimlerim Tablosu</h3>
</div>
@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Şirket Adı</th>
                    <th scope="col" class="sort" data-sort="status">Görev</th>
                    <th scope="col" class="sort" data-sort="status">Tarih</th>
                    <th scope="col" class="sort" data-sort="status">Açıklama</th>
                    <th scope="col">Sil</th>
                    <th scope="col" class="sort" data-sort="completion">Güncelle</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td>@item.CompanyName</td>
                        <td>@item.TaskName</td>
                        <td class="budget">@item.Date</td>
                        <td>@item.Description</td>                        
                        <td><a href="/AdminExperience/RemoveExperiance/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/AdminExperience/UpdateExperiance/@item.Id" class="btn btn-outline-info">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/AdminExperience/CreateExperiance" class="btn btn-outline-primary">Yeni Deneyim Ekle</a>
    </div>
}
else
{
    <p class="bg-danger text-white p-4 text-center card-body table-responsive">Deneyim bilgisi bulunamadı. Deneyim bilgisi eklemek için "Yeni Deneyim Ekle" butonuna tıklayınız.</p>
    <a href="/AdminExperience/CreateExperiance" class="btn btn-outline-primary">Yeni Deneyim Ekle</a>
}

