@model List<ResultLast5UserDto>
<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between">
                <h3 class="card-title text-md-center text-xl-left" style="margin-left:10px">Son 5 Kullancı</h3>
                <h6 class="card-title text-md-center text-xl-right" style="color:rgba(234, 240, 246, 0.3);">(Toplam = @ViewBag.userCount)</h6>
            </div>
            @foreach (var item in Model)
            {
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">@item.Name @item.Surname</h6>
                        <p class="text-muted mb-0">@item.Email</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">@item.UserName</h6>
                    </div>
                </div>
            }
        </div>
    </div>
</div>