@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Visitor/Views/VisitorLayout/Index.cshtml";
}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Hoşgeldin @ViewBag.VisitorName</h3>
            </div>
            <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                        @DateTime.Now.ToString("dddd, dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("Tr-tr"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/skydash/images/dashboard/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>@ViewBag.weather<sup>C</sup></h2>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">İstanbul</h4>
                            <h6 class="font-weight-normal">Türkiye</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin">
        <div class="row">
            <div class="card col-md-12" style="margin-bottom:10px">
                <div class="card-body">
                    <p class="card-title">Ziyaretçi Paneli</p>
                    <p class="font-weight-500">Ziyaretçiler için ### işlemlerini barındıran sayfadır. Profiliniz ile ilgili işlemleri bu sayfadan yapabilirsiniz</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-12" style="margin-bottom:10px">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-title">Yardım Menüsü</p>
                        <a href="#" class="text-info">İletişim Alanına Git</a>
                    </div>
                    <p class="font-weight-500">Site ile ilgili öneri ve görüşlerinizi iletişim alanı üzerinden benimle paylaşabilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="mb-4">Gelen Mesaj Sayısı</p>
                            <a href="/Visitor/Message/ReceiverMessages/" class="text-info">Mesajları Gör</a>
                        </div>
                        <p class="fs-30 mb-2">@ViewBag.MessageReceiver</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="mb-4">Gönderilen Mesaj Sayısı</p>
                            <a href="/Visitor/Message/SenderMessages/" class="text-info" ">Mesajları Gör</a>
                        </div>
                        <p class="fs-30 mb-2">@ViewBag.MessageSender</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
