@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Hakkımda Tablosu</h3>
    <br />
    <h5>
       # Tema bütünlüğünnü bozulmaması adına 1 adet hakkımda bilgisi bulunmalıdır.
    </h5>
</div>
@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="budget">Başlık</th>
                    <th scope="col" class="sort" data-sort="status">Yaş</th>
                    <th scope="col" class="sort" data-sort="status">Mail</th>
                    <th scope="col" class="sort" data-sort="status">Telefon</th>
                    <th scope="col" class="sort" data-sort="status">Adres</th>
                    <th scope="col" class="sort" data-sort="status">Resim Url</th>
                    <th scope="col" class="sort" data-sort="status">Açıklama</th>
                    <th scope="col">Sil</th>
                    <th scope="col" class="sort" data-sort="completion">Güncelle</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Title</th>
                        <td>@item.Age</td>
                        <td>@item.Mail</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.ImageUrl</td>
                        <td>@item.Description</td>
                        <td><a href="/AdminAbout/RemoveAbout/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/AdminAbout/UpdateAbout/@item.Id" class="btn btn-outline-info">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="bg-danger text-white p-4 text-center card-body table-responsive">Hakkımda bilgisi bulunamadı. Hakkımda bilgisi eklemek için "Yeni Hakkımda Ekle" butonuna tıklayınız.</p>
    <a href="/AdminAbout/CreateAbout" class="btn btn-outline-primary">Yeni Hakkımda Ekle</a>
}


